<%- include("partials/header.ejs")%>

<body class="wrapper">
  <div class="contenido contenido_blog">
    <div class="section">
      <div>
        <img src="/images/blogging.png" alt="blogging" />
      </div>
      <div>
        <h1>Tus Palabras Tienen Poder</h1>
        <p>
          Bienvenido a nuestra comunidad de bloggers, donde tus palabras tienen
          el poder de conectar, inspirar y transformar. Aquí, te brindamos un
          espacio seguro para compartir tus experiencias, reflexiones y
          conocimientos con un público entusiasta.
        </p>
      </div>
    </div>
    <div class="section">
      <div>
        <img src="/images/teclado.png" alt="teclado" />
      </div>
      <div>
        <h1>Una Plataforma para Expresar tus Ideas</h1>
        <p>
          Nuestro objetivo es sencillo: proporcionarte una plataforma para que
          puedas expresarte y compartir tus historias con el mundo. Con nuestra
          página web, podrás crear, editar y eliminar blogs a tu gusto. Ya sea
          que quieras escribir sobre tus viajes, tu carrera profesional, tus
          pasiones o cualquier otro tema, este es el lugar perfecto para ti
        </p>
      </div>
    </div>
    <div class="section"></div>
    <div class="section">
      <div>
        <img src="/images/comunidad.png" alt="comunidad" />
      </div>
      <div>
        <h1>Empieza tu Viaje con Nosotros</h1>
        <p>
          Si estás listo para compartir tus historias y ser parte de una
          comunidad apasionada por la escritura, únete a nosotros. Aquí puedes
          no solo crear tu primer blog, sino también leer las experiencias e
          historias de otras personas. Encuentra inspiración, comparte tus
          pensamientos y conecta con otros que, como tú, tienen algo único que
          decir. ¡No esperes más, inicia tu viaje con nosotros y crea tu primer
          blog hoy mismo!
        </p>
      </div>
    </div>
  </div>
</body>

<%- include("partials/footer.ejs")%>
